.main {
    justify-content: flex-start;
}

.cards_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 500px;
}

.card-editor_fundo {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 288px;
    padding: 25px;
    width: 450px;
}

.editor-botoes {
    background: black;
    background-image: url(../img/botoes-mac.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    height: 20px;
    width: 100%;
}

.card-editor {
    background: black;
    border-radius: 0px 0px 10px 10px;
    flex: 1 1 0px;
    height: 100%;
    white-space: pre-wrap;
    width: 100%;
}

.codigo_texto{
    background-color: black;
    color: white;
    padding: 10px;
}

.card-nome {
    color: white;
    font-size: 21px;
    margin-bottom: 0;
    margin-left: 20px;
}

.card-descricao {
    color: white;
    font-size: 16px;
    margin: 0 0 15px 20px;
    margin-top: 10px;
}

.card-rodape {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 15px;
}

.card-social {
    align-items: center;
    display: flex;
    white-space: nowrap;
}

.botaosocial {
    background: none;
    border: none;
    color: white;
}

.botaosocial:first-child {
    margin-left: 20px;
}

.card-comentarios::before {
    background-image: url(../img/icon-comentario.png);
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 17.5px;
    margin-right: 10px;
    width: 20px;
}

.card-likes::before {
    background-image: url(../img/icon-coracao.png);
    background-size: 20px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 17.5px;
    margin-right: 10px;
    width: 20px;
}

.card-autor {
    height: 40px;
    margin-right: 20px;
    width: 105px;
}

.botao_apagar-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.botao_apagar {
    padding: 1rem 2rem;
    color: white;
    background-color: #051D3B;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 300;
}